
@import '../../scss/variables.scss';

.country {
  @include country();
}

.country:hover{
  @include countryHover();
}

.Bandera{
  border-radius: 5px;
  width: 210px;
  height: 120px;
}
.pais{
  text-align: center;
  font-size: 20px;
  color: rgb(49, 0, 0);}

.continente{
  font-size: 17px;
  color: rgb(49, 0, 0);}